

/* Container
---------------------------------------------------------------------- */

.container {
    margin: 0 auto;
    max-width: 1920px;
    padding: 1.5rem;
    text-align: justify;
    font-size: 0.1px;
}

.container:after {
    content: '';
    display: inline-block;
    width: 100%;
}

/* Target Elements
---------------------------------------------------------------------- */

.mix,
.gap {
    display: inline-block;
    vertical-align: top;
}

.mix {
    background: #f4f6f8;
    /*border-top: .1rem solid currentColor;*/
    border-radius: 2px;
    margin-bottom: 1.5rem;
    position: relative;
    overflow: hidden;
}

.mix:before {
    content: '';
    display: inline-block;
    /*padding-top: 56.25%;*/
    padding-top: 66%;
}

.mix.project {
    color: #101010;
}

.mix.object {
    color: #8f0820;
}

.mix.model {
    color: #de7226;
}

/* Grid Breakpoints
---------------------------------------------------------------------- */

.content {
    width: 100% !important;
    /*outline: 1px solid #3E5C9A;*/
    padding-top: 0 !important;
    overflow: visible;
}

.content:before {
    display: inline-block;
    padding-top: 0;
}


/* 1 Columns */

.mix,
.gap {
    width: calc(100% / 1 - (((1 - 1) * 1.618rem) / 1));
}

/* 2 Columns */

@media screen and (min-width: 541px) {
    .mix,
    .gap {
        width: calc(100% / 2 - (((2 - 1) * 1.618rem) / 2));
    }
}

/* 3 Columns */

@media screen and (min-width: 961px) {
    .mix,
    .gap {
        width: calc(100% / 3 - (((3 - 1) * 1.618rem) / 3));
    }
}

/* 4 Columns */

/*@media screen and (min-width: 1281px) {*/
/*.mix,*/
/*.gap {*/
/*width: calc(100%/4 - (((4 - 1) * 1rem) / 4));*/
/*}*/
/*}*/


