.idea
node_modules


# System files
# ------------

Icon
.DS_Store

# Temporary files
# ---------------

kirby/thumbs/*
!/thumbs/index.html

kirby/site/cache/*
!kirby/site/cache/index.html

# -------------SECURITY-------------
# NEVER publish these files via Git!
# -------------SECURITY-------------

# Kirby accounts
# ---------------

/site/accounts/*
!kirby/site/accounts/index.html

# Avatars
# ---------------

kirby/assets/avatars/*
!kirby/assets/avatars/index.html
/.src
